In [74]:
import numpy as np
import pandas as pd

In [75]:
df = pd.DataFrame({'cust': ['A', 'B', 'B', 'A', 'C', 'C'],
                   'date': [10,20,30,40,50,70]},
                    'bestankar': [] ,
                      columns=['cust', 'date'])
df

  cust  date
0    A    10
1    B    20
2    B    30
3    A    40
4    C    50
5    C    70

In [ ]:
df['remain_inline'] =

In [76]:
df['date_diff'] = df.groupby('cust')['date'].diff()
df

  cust  date  date_diff
0    A    10        NaN
1    B    20        NaN
2    B    30       10.0
3    A    40       30.0
4    C    50        NaN
5    C    70       20.0

In [77]:
df['date_diff'] = df.groupby('cust')['date_diff'].shift(-1)
df

  cust  date  date_diff
0    A    10       30.0
1    B    20       10.0
2    B    30        NaN
3    A    40        NaN
4    C    50       20.0
5    C    70        NaN